#blog h3, h4 {
    text-align: center;
}

#blog .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog a {
    display: flex;
}

#blog article {
    margin: 15px;
    
}

#blog img {
    width: 100%;
    height: 300px;
    max-width: 280px;
}