@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
@import url(menu.css);
@import url(Banner.css);
@import url(blog.css);
@import url(Info.css);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Indie Flower', cursive;
    
}

header {
    width: 100%;
    height: 67px;
    background: #333;
    color: floralwhite;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;  
}

.contenedor {
    width: 98%;
    margin: auto;
}

h1 {

    font-size: 35px;
    float:left;
        font-family: 'Baloo Bhaina', cursive;
    color: yellow;
}

header .contenedor {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos {
    text-align: center;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy {
    font-size: 20px;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    color: #333;
    text-decoration: none;
}

@media  (min-width:768px) {
    .sociales {
        width: auto;
    }
}

@media  (min-width:1024px) {
    .contenedor {
        width: 1000px;
    }
    
    footer .contenedor {
        justify-content: space-between;
    }
}